@charset "utf-8";
/* CSS Document */
body{
	width:100%;
	height:100%;
	margin:0px auto;
	font-family:"微软雅黑";
	}
#top_logo{
	width:1002px;
	height:80px;
	margin:0px auto;
	background-image:url(../images/top_logo_bg.jpg);
	}
#logo{
	width:335px;
	height:80px;
	float:left;
	}
#logo img{
	margin-top:10px;
	}	
#login_reg{
	width:667px;
	height:80px;
	float:left;
	text-align:right;
	color:#999;
	}	
#login_reg div{
	font-size:12px;
	height:35px;
	margin-top:24px;
	}	
#login_reg a{
	color:#666;
	text-decoration:none;
	}		
#menu,#menu_x,#menu_x_X{
	width:1002px;
	/*height:50px;*/
	height:38px;
	margin:0px auto;
	background-image:url(../images/menu_bg.jpg)
	}	
#menu div{
	width:100px;
	height:28px;
	float:left;
	margin-left:30px;
	margin-top:10px;
	cursor:pointer;
	text-align:center;
	line-height:28px;
	font-size:15px;
	font-weight:bold;

	}
.menu_bg_y{
	color:#FFF;
	}	
.menu_bg{
	color:#333;
	background-image:url(../images/menu_bg_m.gif);
	}
#menu_x,#menu_x_X{
	height:39px;
	width:1002px;
	/*border:1px solid #ccc;*/
	border-top:0px;
	/*background-image:url(../images/menu_bg_x.jpg);*/
	background-image:url(../images/menu_bg_bg_x.gif);
	}	
#menu_x > div,#menu_x_X > div{
	width:1002px;
	height:40px;
	line-height:40px;
	text-align:left;
	font-size:13px;
	
	}
#menu_x > div > div,#menu_x_X > div > div{
	width:100px;
	height:39px;
	line-height:39px;
	float:left;
	text-align:center;
	color:#666;
	}		
#menu_x div a, #menu_x_X div a{
	text-decoration:none;
	/*color:#06F;*/
	color:#333;
	font-weight:normal;
	}
#menu_x div a:hover,#menu_x_X div a:hover{
	text-decoration:underline;
	}	

#grxx{
	width:1000px;
	/*height:108px;*/
	height:216px;
	border:1px solid #ccc;
	margin:0px auto;
	margin-top:10px;
	background-image:url(../images/grxx.jpg);
	}
.grxx2,.grxx3{
	width:25%;
	height:108px;
	float:left;
	
	}	
.grxx1{
	width:97%;
	height:77px;
	line-height:77px;
	text-align:center;
	border-top:1px dashed #CCCCCC;
	margin:0px auto;
	}	
.grxx4{
	width:97%;
	height:30px;
	line-height:30px;
	margin:0px auto;
	font-size:12px;
	color:#333;

	}	
.grxx2{

	/*width:460px;*/
	width:705px;
	font-size:14px;
	color:#333;

	margin-left:15px;
	}	
.grxx3{
	width:245px;

	margin-left:30px;
	}	

#jylb,.xgjcxx{
	width:1002px;
	height:auto;
	margin:0px auto;
	margin-top:10px;
	}
.jymx,.jbxx{
	width:1000px;
	height:40px;
	line-height:40px;
	border-bottom:1px dashed #ccc;
	}	
.jbxx{
	text-indent:10px;
	font-size:14px;
	color:#333;
	font-weight:bold;
	text-indent:20px;
	}	
	
#foot{
	width:1002px;
	height:80px;
	margin:0px auto;
	border-top:1px solid #a9becf;
	margin-top:10px;
	}	
#foot .dt{
	width:1002px;
	height:25px;
	font-size:12px;
	margin:0px auto;
	text-align:center;
	line-height:25px;
	}	
#foot a{
	color:#666;
	}	
#foot a:hover{
	text-decoration:none;
	color:#F90;
	}	
	
.input_text{
	width:150px;
	height:20px;
	font-size:16px;
	color:#003;
	font-weight:bold;
	vertical-align:middle;
	background-color:#EFEFEF;
	border:1px solid #CCC;
	}	
.jbxx select{
	background-color:#EFEFEF;
	border:1px solid #CCC;
	vertical-align:middle; 
	font-size:16px; 
	color:#003; 
	font-weight:bold;
	}	
.tsts{
	color:#F00;
	font-size:13px;
	font-weight:normal;
	}		
	
	
/**************************充值页面样式******************************/	
.cz_div{
	width:1000px;
	height:100px;
	line-height:100px;
	font-size:30px;
	text-align:center;
	margin:0px auto;
	border:1px solid #CCC;
	background-color:#F0F0F0;
	}
.cz_div input[type='text']{
	width:200px;
	height:30px;
	vertical-align:middle;
	font-size:25px;
	font-weight:bold;
	color:#F00;
	border:1px solid #999;
	}	
.cz_div img{
	vertical-align:middle;
	cursor:pointer;
	}	
	
.newslist{
	width:220px;
	height:25px;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	color:#00F;
	}	
.newslist a{
	text-decoration:none;
	font-size:13px;
	color:#09C;
	}	
.newslist a:hover{
	color:#F90;
	}	