@charset "utf-8";
/* CSS Document */
body{
	width:100%;
	height:100%;
	margin:0px auto;
	}

/**********************************************************/
#tongdao{
	width:400px;
	height:auto;
	margin:0px auto;
	margin-top:50px;
	}
#tongdao div{
	width:100%;
	height:50px;
	line-height:50px;
	text-align:left;
	font-size:15px;
	color:#36C;
	/*border-bottom:1px dashed #999999;*/
	}	
#tongdao div input[type='text']{
	width:300px;
	height:25px;
	font-size:18px;
	color:#333;
	border:0px;
	border-bottom:1px dashed #666666;
	}	
#tongdao div input[type='submit'],#tongdao div input[type='reset']{
	width:100px;
	height:30px;
	}	
/**********************************************************/	
#listuser{
	width:95%;
	height:auto;
	border-left:1px solid #999;
	border-top:1px solid #999;
	margin:0px auto;
	margin-top:20px;
	}
	
#listuser tr td{
	width:auto;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	height:30px;
	text-align:center;
	vertical-align:middle;
	font-size:12px;
	}
#listuser a{
	color:#00C;
	}	
#listuser a:hover{
	color:#666;
	text-decoration:none;
	}	
.listmenu{
	width:95%;
	height:30px;
	font-size:13px;
	line-height:30px;
	margin:0px auto;
	margin-top:20px;
	}	
	
#showshenhe{
	width:95%;
	height:auto;
	margin:0px auto;
	margin-top:25px;
	border-left:1px solid #CCC;
	border-top:1px solid #CCC;
    }
#showshenhe tr td{
	height:30px;
	text-align:center;
	vertical-align:middle;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	font-size:14px;
	}
#showshenhe div{
	width:33%;
	float:left;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#00F;
	}	
.showshenheclass{
	width:70%;
	font-size:15px;
	font-weight:bold;
	}	
